html {
    font-family: "Open Sans", Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: row;
}

header {
    font-size: 28.8px;
    margin-bottom: 20px;
    margin-top: 20px;
}

nav {
    min-width: 200px;
    top: 0px;
    left: 0px;
    height: 100%;
    border-right: 2.5px solid #4d4e53;
    position: fixed;
}

nav > * > * {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 10px 30px;
}


main {
    margin-top: -10px;
    padding-left: 35px;
    padding-top: 30px;
    margin-left: 300px;
    padding-right: 20px;
    min-width: 368px;
}


p, li{
    color: #37383b;
    font-size: 0.96em;
}

li {
    padding: 10px;
    margin-left: 20px;
}

p{
    padding-left: 15px;
    line-height: 1.5;
    font-size: 0.96em;
    display: block;
}

.code {
    background-color: #f7f7f7;
    padding: 20px;
    line-height: 1.2rem;
    min-width: 300px;
    border-radius: 6px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.nav-link {
    text-decoration: none;
    color: #4d4e53
}

.link {
    min-width: 240px;
    border-top: 1px solid #4d4e53;
}

#nav-header {
    font-size: 28.8px;
    margin: 10px;
    padding: 10px 15px;
}

@media (max-width: 740px) {
    body {
        flex-direction: column;
    }

    main {
        margin: 0;
    }

    nav {
        position: static;
        border: none;
    }

    .link {
        border: 1px solid #4d4e53;
    }

    #links {
        height: 200px;
        overflow-y: scroll;
        width: 100%;
        border: 1.4px solid #4d4e53;
    }

    #nav-header {
        text-align: center;
    }

}
